astroid==2.5.6
attrs==21.2.0
awscli==1.19.72
backcall==0.2.0
botocore==1.20.72
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
decorator==5.0.7
deepdiff==5.5.0
docopt==0.6.2
docutils==0.15.2
greenlet==1.1.0
idna==2.10
inflect==5.3.0
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.8.0
jedi==0.18.0
Jinja2==3.0.0
jmespath==0.10.0
json-to-swagger==0.0.5
json2yaml==1.1.1
jsonschema==3.2.0
lazy-object-proxy==1.6.0
MarkupSafe==2.0.0
matplotlib-inline==0.1.2
mccabe==0.6.1
msgpack==1.0.2
neovim==0.3.1
ordered-set==4.0.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pyaml==20.4.0
pyasn1==0.4.8
Pygments==2.9.0
pylint==2.8.2
pynvim==0.4.3
pyrsistent==0.17.3
python-dateutil==2.8.1
PyYAML==5.2b1
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
six==1.16.0
swagger-parser==1.0.2
swagger-spec-validator==2.7.3
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
wrapt==1.12.1
